<div class="w-100 pb-2" [formGroup]="form" >
  <label class="questionlabel w-100" [attr.for]="question.key">{{question.label}}</label>
  <div class="w-100" [ngSwitch]="question.controlType">
    <textarea rows="5" class="w-100 form-control" *ngSwitchCase="'textbox'" [formControlName]="question.key" [id]="question.key"></textarea>
    <input type="number" class="form-control" *ngSwitchCase="'money'" placeholder="$" [formControlName]="question.key" [id]="question.key" 
           (keyup)="removeLeadingZeroes(question.key); "
           (blur)="removeLeadingZeroes(question.key);" >
    <input type="text" class="form-control" *ngSwitchCase="'text'" [formControlName]="question.key" [id]="question.key">
    <div *ngIf="question.controlType=='money_array'">
      <div class="row no-gutters" [formArrayName]="question.key">
        <div class="col" *ngFor="let in of counter(question.number) ; let i = index">
          <label>Year {{i+1}}</label>
          <input type="number" class="form-control" *ngSwitchCase="'money_array'" 
            placeholder="$$" formControlName="{{i}}" 
            [id]="question.key"
            (keyup)="calcTotal(question.key)"
            (blur)="calcTotal(question.key)">
        </div>
        <div class="col">
          <label>Total</label>
          <input 
            type="text" class="form-control" *ngSwitchCase="'money_array'"
            placeholder="$$" formControlName="{{question.number}}" 
            [id]="question.key"
            (keyup)="calcTotal(question.key)"
            (blur)="calcTotal(question.key)">
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="question.allowComments" [formArrayName]="this.getCount()">
    <p class="mt-2 mb-2">Enter comments below: </p>
    <input type="text" class="form-control" [formControlName]="question.order" required>
  </div>
</div>
