.questionlabel{
    font-weight: bold;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters > .col, .no-gutters > [class*="col-"] {
    padding-right: 5px ;
    padding-left: 0;
}

.required-label{
    background-color: red;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 6px;
    padding-left: 6px;
    color: white;
    border-radius: 5px;
}