<div [hidden]="isLoaded">
  <h2>Loading form...</h2>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div [hidden]="!isLoaded" class="col">
  <h1 class='form-row'>Questions</h1>
  <h5 class="mt-3 form-row">Please answer the questions below. All questions are required to be completed before form can be submitted.</h5>
  <h5 class='form-row'>If you have any issues or queries please contact the Research Development Team for any help at research-ems@uwa.edu.au</h5>
  <div class="w-100 border-top border-primary pt-2 form-row" id="main_submission_form">
    <div *ngIf=isLoaded>
      <app-dynamic-form class="w-100" [qset_id]="qset_id" [questions]="questions"></app-dynamic-form>
    </div>
  </div>
</div>