<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">

  <!-- Always visible -->
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']"><img id="nav_logo" src="assets/uwacrest-white.svg"></a>
    <a *ngIf="!authService.getProfile().loggedIn" class="navbar-brand" [routerLink]="['/']">EMS Research Priorities Fund Requests</a>
    <a *ngIf="authService.getProfile().loggedIn" class="navbar-brand" [routerLink]="['/home']"><span id="welcome-text">Welcome</span><br> <span id="name">{{authService.getProfile().fname}} {{authService.getProfile().lname}}</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

      <!-- visible only when logged in -->
      <ul *ngIf="authService.getProfile().loggedIn" class="navbar-nav ml-auto">
        <li [routerLinkActive]="['active']" class="nav-item" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" [routerLink]="['/home']">Home</a>
        </li>
        <li class="nav-item">
          <a (click)="onLogoutClick()" href="#" class="nav-link">Logout</a>
        </li>
      </ul>

      <!-- visible only when not logged in -->
      <ul *ngIf="!authService.getProfile().loggedIn" class="navbar-nav ml-auto">
        <li [routerLinkActive]="['active']" class="nav-item" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" [routerLink]="['/']">Login</a>
        </li>
        <li [routerLinkActive]="['active']" class="nav-item" [routerLinkActiveOptions]="{exact:true}">
          <a [routerLink]="['/register']" class="nav-link">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>