<div class="outer">
  <!-- User Registration Form -->
  <h2 class="page-header mb-4 mt-4">Register</h2>
  <form (submit)="onRegisterSubmit()">
    <div class="form-group">
      <label>First Name</label>
      <input type="text" [(ngModel)]="fname" name="fname" class="form-control">
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" [(ngModel)]="lname" name="lname" class="form-control">
    </div>
    <div class="form-group">
      <label>Staff/Student Number</label>
      <input type="email" [(ngModel)]="number" name="number" class="form-control">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" [(ngModel)]="password" name="password" class="form-control">
    </div>
    <div class="form-group">
      <label>Confirm Password</label>
      <input type="password" [(ngModel)]="password2" name="password2" class="form-control">
    </div>

    <input type="submit" class="btn btn-block btn-success mt-3" value="Submit">
    <input type="reset" class="btn btn-block btn-danger mt-3" value="Reset">

  </form>
</div>