<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">

    <!-- School selector -->
    <div class="form-row">
      <div *ngIf=displaySchool>
        <p class="mr-2 top-text">I am from the:</p>
        <input type="button" class="btn btn-lg btn-primary mb-2 mr-2" value="School of Engineering" (click)="selectSchool('eng', 'School of Engineering')">
        <input type="button" class="btn btn-lg btn-primary mb-2 mr-2" value="School of Physics, Mathematics and Computing" (click)="selectSchool('pmc', 'School of Physics, Mathematics and Computing')">
        <input type="button" class="btn btn-lg btn-primary mb-2" value="Ocean Graduate School" (click)="selectSchool('ogs', 'Ocean Graduate School')">
      </div>
    </div>

    <!-- Role selector -->
    <div class="form-row">
      <div *ngIf=displayRole>
        <p class="mr-2 top-text">I am filling this form in as a:</p>
        <p class="btn btn-lg btn-secondary disabled mb-2 mr-2">{{school}}</p>
        <span class="mr-2">:</span>
        <input type="button" class="btn btn-w2 btn-lg btn-warning mb-2 mr-2" value="Head of School" (click)="selectRole('headOfSchool', 'Head of School')">
        <input type="button" class="btn btn-w2 btn-lg btn-primary mb-2" value="Researcher" (click)="selectRole('researcher', 'Researcher')">
      </div>

      <!-- School/Role display -->
      <div *ngIf=displayQuestions>
        <div>
          <p class="btn btn-lg btn-w btn-secondary disabled mb-2 mr-2">{{school}}</p>
          <span class="mr-2">:</span>
          <input type="button" class="btn btn-w btn-lg btn-danger mb-2 mr-2" value="Change School" (click)="changeSchool()">
        </div>
        <div>
          <p class="btn btn-lg btn-w btn-secondary disabled mb-2 mr-2">{{submitter}}</p>
          <span class="mr-2">:</span>
          <input type="button" class="btn btn-w btn-lg btn-danger mb-2" value="Change Role" (click)="changeRole()">
        </div>
      </div>
    </div>

    <!-- Displays all question and relevant answer fields -->
    <div *ngIf=displayQuestions>
      <div *ngFor="let question of questions" class="form-row mt-3">
        <app-question class="w-100" [question]="question" [form]="form"></app-question>
      </div>

      <div class="form-row mt-3">
        <button type="submit" class="btn btn-primary mb-5" [disabled]="!form.valid || !form.value.school || !form.value.submitter">Submit</button>
      </div>
    </div>

    <!-- DEVELOPMENT ONLY - REMOVE BELOW DIV -->
    <div *ngIf="payload" class="form-row">
      <strong>Saved the following values</strong>
      <br>{{payload}}
    </div>

  </form>
</div>