<div class="mb-5">

  <!-- IT View -->
  <div *ngIf=user.isIT>
    <div>
      <div class="mb-5">
        <a [routerLink]="['/editUsers']" class="btn btn-block btn-primary mt-3 p-4">Edit Users</a>
        <a [routerLink]="['/editQuestions']" class="btn btn-block btn-warning float-right mt-3 mb-3 p-4">Edit Questions</a>
        <!-- DEVELOPMENT ONLY - REMOVE BELOW LINE -->
        <input type="button" class="btn btn-block btn-danger p-4" value="Change to non IT (Development Only)" (click)="changeIT()">
      </div>
    </div>
  </div>

  <!-- Everyone else's view -->
  <div *ngIf=!user.isIT>

    <!-- No submissions or approvals view -->
    <div *ngIf="!user.submissions.length>0 && !user.approvals.length>0" class="row">
      <div class="col">
        <h1>You have no forms in your workspace</h1>
      </div>
      <a [routerLink]="['/submission']" class="btn btn-lg btn-primary float-right mb-2">New Submission Request</a>
    </div>

    <!-- No submissions but does have approvals view -->
    <div *ngIf="!user.submissions.length>0 && user.approvals.length>0" class="row">
      <div class="col">
        <h1>You have no submissions in your workspace</h1>
      </div>
      <a [routerLink]="['/submission']" class="btn btn-lg btn-primary float-right mb-2">New Submission Request</a>
    </div>

    <!-- Buttons to access dashboards if user has approvals or submissions -->
    <div class="row">
      <a *ngIf="user.submissions.length>0" [routerLink]="['/submissionsDashboard']" class="btn btn-block btn-primary mt-3 p-4">Submissions</a>
      <a *ngIf="user.approvals.length>0" [routerLink]="['/approvalsDashboard']" class="btn btn-block btn-warning float-right mt-3 p-4">Approvals</a>
    </div>
  
  </div>
</div>