<!-- LOADING SCREEN -->
<div [hidden]="subsLoaded && appsLoaded">
  <h2>Loading Dashboard...</h2>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div [hidden]="!subsLoaded || !appsLoaded" class="mb-5">

  <!-- IT View -->
  <div *ngIf=user.isIT>
    <div>
      <div class="mb-5">
        <a [routerLink]="['/editUsers']" class="btn btn-block btn-warning mt-3 p-4">Edit Users</a>
        <a [routerLink]="['/editEmails']" class="btn btn-block btn-primary mt-3 p-4">Edit Emails</a>
        <a [routerLink]="['/editQuestions']" class="btn btn-block btn-warning float-right mt-3 mb-3 p-4">Edit Questions</a>
      </div>
    </div>
  </div>

  <!-- Everyone else's view -->
  <div *ngIf="!user.isIT&&appsLoaded&&subsLoaded">

    <!-- No submissions or approvals view -->
    <div *ngIf="!userSubmissions.length>0 && !userApprovals.length>0" class="row">
      <div class="col">
        <h1>You have no forms in your workspace</h1>
      </div>
      <a [routerLink]="['/submission']" class="btn btn-lg btn-primary float-right mb-2">New Submission Request</a>
    </div>

    <!-- No submissions but does have approvals view -->
    <div *ngIf="!userSubmissions.length>0 && userApprovals.length>0" class="row">
      <div class="col">
        <h1>You have no submissions in your workspace</h1>
      </div>
      <a [routerLink]="['/submission']" class="btn btn-lg btn-primary float-right mb-2">New Submission Request</a>
    </div>

    <!-- Buttons to access dashboards if user has approvals or submissions -->
    <div class="row">
      <a *ngIf="userSubmissions.length>0" [routerLink]="['/submissionsDashboard']" class="btn btn-block btn-primary mt-3 p-4">Submissions</a>
      <a *ngIf="userApprovals.length>0" [routerLink]="['/approvalsDashboard']" class="btn btn-block btn-warning float-right mt-3 p-4">Approvals</a>
    </div>

  </div>
</div>