<div [hidden]="subsLoaded">
  <h2>Loading Submissions...</h2>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div [hidden]="!resubmitting">
  <h2>Resubmitting form...</h2>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div [hidden]="!subsLoaded || resubmitting" class="mb-5 p-1">
  <!-- Dashboard display for all user's submitted forms -->
  <div *ngIf="showAllSubmissions">
    <div class="row">
      <div class="col-sm">
        <h1>Submissions Dashboard</h1>
      </div>

      <div class="col-sm">
        <a [routerLink]="['/submission']" class="btn btn-w btn-lg btn-primary float-right mb-2">New Request</a>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Submission Date</th>
            <th scope="col">Status</th>
            <th scope="col">Last Action Date</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let submission of userSubmissions">
            <td *ngIf="submission.status!='Resubmitted'">{{submission.sub_date}}</td>
            <td *ngIf="submission.status!='Resubmitted'">{{submission.status}}</td>
            <td *ngIf="submission.status!='Resubmitted'">{{submission.action_date}}</td>
            <td *ngIf="submission.status!='Resubmitted'">
              <button class="btn btn-primary float-right" (click)="showSubmission(submission)">View Form</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- DISPLAY SELECTED FORM FOR REVIEW -->
  <div *ngIf="showSingleSubmission && isLoaded">
    <div class="row mb-5">
      <div *ngIf="submissionView.comments && submissionView.status=='Provisionally Approved'" class="col-sm">
        <input type="button" class="btn btn-lg btn-warning float-left mb-2 mr-2" value="Click to resolve comments for resubmission"
          (click)="resolve()">
      </div>
      <div class="col-sm">
        <input *ngIf="submissionView.history.length>0" type="button" class="btn btn-lg btn-warning mb-2 mr-2" value="View Previously submitted forms"
          (click)="showFormHistory(submissionView.history)">
        <input type="button" class="btn btn-w btn-lg btn-danger float-right mb-2 mr-2" value="Go Back" (click)="showSubmissions()">
      </div>
    </div>
    <h4 class="form-title">Form submitted as a {{submissionView.submitter}} from the {{submissionView.school}}</h4>
    <app-dynamic-form class="w-100" [qset_id]="qset_id" [questions]="questions" [display_only]="true" [comments]="comments"></app-dynamic-form>
  </div>

  <!-- SHOW FORM HISTORY -->
  <div *ngIf=showHistory>
    <div class="row">
      <div class="col-lg">
        <h1>History for form submitted on {{submissionView.sub_date}}</h1>
      </div>
      <div class="col-sm">
        <input type="button" class="btn btn-w btn-lg btn-danger float-right mr-2" value="Go Back to Form" (click)="backToForm()">
      </div>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Submission Date</th>
            <th scope="col">Status</th>
            <th scope="col">Last Action Date</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let history of formHistory">
            <td>{{history.sub_date}}</td>
            <td>{{history.status}}</td>
            <td>{{history.action_date}}</td>
            <td>
              <button class="btn btn-primary float-right" (click)="showHistoricSubmission(history)">View Historical Form</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- DISPLAY SELECTED HISTORICAL FORM -->
  <div *ngIf="showHistoricalSubmission">
    <div class="row">
      <div class="col-sm">
        <input type="button" class="btn btn-w btn-lg btn-danger float-right mb-2 mr-2" value="Go Back to History" (click)="backToHistory()">
      </div>
    </div>
    <div>
      <h1>Form submitted as a {{historicalSubmissionView.submitter}} from the {{historicalSubmissionView.school}}</h1>
      <app-dynamic-form class="w-100" [qset_id]="qset_id" [questions]="questions" [display_only]="true" [comments]="comments"></app-dynamic-form>
    </div>
  </div>

  <!-- RESOLVE COMMENTS AND RESUBMIT -->
  <div *ngIf="resolveComments">
    <form (submit)="resubmit()">

      <!-- School selector -->
      <div class="form-row">
        <div *ngIf=!submissionView.school>
          <p class="mr-2 top-text">I am from the:</p>
          <input type="button" class="btn btn-lg btn-primary mb-2 mr-2" value="School of Engineering" (click)="selectSchool('School of Engineering')">
          <input type="button" class="btn btn-lg btn-primary mb-2 mr-2" value="School of Physics, Mathematics and Computing" (click)="selectSchool('School of Physics, Mathematics and Computing')">
          <input type="button" class="btn btn-lg btn-primary mb-2" value="Ocean Graduate School" (click)="selectSchool('Ocean Graduate School')">
        </div>
      </div>

      <!-- Role selector -->
      <div class="form-row">
        <div *ngIf="submissionView.school && !submissionView.submitter">
          <p class="mr-2 top-text">I am filling this form in as a:</p>
          <p class="btn btn-lg btn-secondary disabled mb-2 mr-2 btn-w2">{{submissionView.school}}</p>
          <span class="mr-2">:</span>
          <input type="button" class="btn btn-w btn-lg btn-primary mb-2 mr-2" value="AD(R)" (click)="selectRole('AD(R)')">
          <input type="button" class="btn btn-w btn-lg btn-primary mb-2 mr-2" value="Head of School" (click)="selectRole('Head of School')">
          <input type="button" class="btn btn-w btn-lg btn-primary mb-2" value="Researcher" (click)="selectRole('Researcher')">
        </div>

        <!-- School/Role display -->
        <div *ngIf="submissionView.submitter && submissionView.school">
          <div>
            <p class="btn btn-lg btn-w2 btn-secondary disabled mb-2 mr-2">{{submissionView.school}}</p>
            <span class="mr-2">:</span>
            <input type="button" class="btn btn-w btn-lg btn-danger mb-2 mr-2" value="Change School" (click)="submissionView.school=undefined">
          </div>
          <div>
            <p class="btn btn-lg btn-w2 btn-secondary disabled mb-2 mr-2">{{submissionView.submitter}}</p>
            <span class="mr-2">:</span>
            <input type="button" class="btn btn-w btn-lg btn-danger mb-2" value="Change Role" (click)="submissionView.submitter=undefined">
          </div>
        </div>
      </div>
      <app-dynamic-form class="w-100" [qset_id]="qset_id" [questions]="questions" [comments]="comments" [resubmit]="true"></app-dynamic-form>
      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-success btn-block">Resubmit</button>
        </div>
        <div class="col">
          <button type="button" (click)="showSubmissions()" class="btn btn-danger btn-block">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>