<div [hidden]="!verifying">
    <h2>Submitting your verification...</h2>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div [hidden]="verifying" class="mb-5">
    <h3 class="permission mb-5 mt-5">
        Please accept or reject based on whether or not you take responsibility for this RPF.
    </h3>

    <div class="row">
        <div class="col">
            <button (click)="onAccept()" class="btn btn-block btn-success p-3">Accept</button>
        </div>
        <div class="col">
            <button (click)="onReject()" class="btn btn-block btn-danger p-3">Reject</button>
        </div>
    </div>
</div>