<div *ngIf="select">
  <div class="mb-5">
    <input type="button" class="btn btn-block btn-primary mt-3 p-4" value="My Submissions" (click)="showSubmissions()">
    <input type="button" class="btn btn-block btn-warning float-right mt-3 p-4" value="Approvals" (click)="showApprovals()">
  </div>
</div>

<div *ngIf="submissions">
  <div class="row">
    <div class="col-sm">
        <h1>Submissions Dashboard</h1>
    </div>
    <div class="col-sm">
        <a [routerLink]="['/submission']" class="btn btn-w btn-lg btn-primary float-right mb-2">New Request</a>
        <input type="button" class="btn btn-w btn-lg btn-warning float-right mb-2 mr-2" value="Approvals" (click)="showApprovals()">
    </div>
  </div>

  <div *ngIf="user.forms.length > 0" class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Status</th>
          <th scope="col">Comments</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let form of user.forms">
          <td>{{form.created_date}}</td>
          <td>{{form.status}}</td>
          <td>{{form.comments.commenter}} : {{form.comments.comment}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="approvals">
  <div class="row">
    <div class="col-sm">
        <h1>Approvals Dashboard</h1>
    </div>
    <div class="col-sm">
        <input type="button" class="btn btn-w btn-lg btn-primary float-right mb-2" value="My Submissions" (click)="showSubmissions()">
    </div>
  </div>

  <div *ngIf="user.forms.length > 0" class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Requested By</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let form of user.forms">
          <td>{{form.created_date}}</td>
          <td>{{form.owner}}</td>
          <td>
            <a [routerLink]="['/review']" class="btn btn-primary float-right">Review</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
