<div *ngIf="user.role=='student'">
  <div class="row">
    <div class="col-sm">
        <h1>Dashboard</h1>
    </div>
    <div class="col-sm">
        <a [routerLink]="['/submission']" class="btn btn-primary float-right mb-2">New Request</a>
    </div>
  </div>
  
  <div *ngIf="user.forms.length > 0" class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Status</th>
          <th scope="col">Comments</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let form of user.forms">
          <td>{{form.created_date}}</td>
          <td>{{form.status}}</td>
          <td>{{form.comments.commenter}} : {{form.comments.comment}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>